body {
    background-color: #CDECC8;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Futura', Courier, monospace;
    color: white;
    background-color: #c70000;
    padding: 10px;
}